
   /* General styling for the home page */
.home {
    padding: 20px;
  }
  
  /* Header styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .user-info h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .user-info p {
    margin: 5px 0 0;
    font-size: 1.2rem;
  }
  .transaction-links{
    width: 80%;
    margin: 0 auto;
  }
  /* Transaction links section */
  .transaction-links h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }